/* font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* Shared Style  */
.inter-font {
    font-family: "Inter" ;
}
dark{
    color: #0D1321;
}

.section-title {
font-size: 32px;
color: #0D1321;
font-weight:800;
}
.section-subtitle {
    font-size: 24px;
    color: #101725;
    font-weight:bold;
    line-height: 36px;
    }
    .section-description {
        color: #0D1321;
        line-height: 26px;
    }
 .text-center {
    text-align: center;
 }   
.white-bg{
    color: white;
}
/* Hero Style  */
.hero{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 650px;
}
.hero-container {
    text-align: center;
    margin: 0 auto;
}
.hero-image {
    height: 180px;
    width: 180px;
    margin-top: 36px;
}
.hero-title {
font-size: 48px;
font-weight: 800;
line-height:68px ;
color: #0D1321;
margin-top: 32px;
}
.hero-description {
color: #0D1321;
line-height: 26px;
margin-top: 24px;
}
.hero-button {
    color: white;
    background-color: #0D1321;
    border-radius: 5px;
    padding: 13px 22px;
    border: none;
    margin-top: 44px;
    font-weight: 600;
}
.hero-button:hover{
    background-color: #18388a;
    transition: 0.5s;
}
/* Web Style  */

.web-container {
    margin: 90px auto;
    width: 80%;
    padding: 70px 97px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.03)
}

.web-content-box {
    background-color: white;
    display: flex;
    column-gap: 50px;
    align-items: center;
    margin-top: 35px;
    border-radius: 10px;
}
.web-content-item {
  padding: 100px;
}
.web-content-box a {
    color: #0D1321;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid #0D1321;
    text-decoration: none;
    padding: 10px 16px;
    margin-top: 20px;
}
.web-content-box p {
    margin-bottom: 20px;
}
.web-content-box a:hover {
    background-color: #20396b52;
}

/* Inspiration Style  */
.inspiration p {
margin-top: 20px;
}
.iframe-container {
    width: 80%;
    margin: 30px auto;
    display: flex;
    border-radius: 18px;
    border: 1px solid rgba(87, 87, 87, 0.096);
}
.iframe-item {
    border-radius: 20px;
    text-align: center;

}
iframe {
    margin: 30px auto;
}